<header class="navbar">
    <div class="logo">
        <a routerLink="/home">Vocabulary & Games Hub</a>
    </div>

   <nav class="nav-links">
        @for (link of navLinks; track link.path) {
            <a 
                [routerLink]="link.path"
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: link.path === '/home'}" 
                class="nav-item">
                {{ link.label }}
            </a>
        } 
        @empty {
            <span>Brak linków nawigacyjnych.</span>
        }
    </nav>
</header>
