.font-bold {
        font-weight: 600;
        margin: 10px 0;
        padding: 5px;
        background-color: #fcebeb; /* Lekkie czerwone tło */
        border-radius: 4px;
        text-align: center;
        color: #d32f2f; /* Czerwony tekst */
        border: 1px solid #ef9a9a;
    }